@page "/"
@inject CharacterSystem CharacterSystem
@inject ChatActivitySystem ChatActivitySystem
@inject INotificationService NotificationService

<Title Level="1">欢迎</Title>

@code
{
    static bool isFirstInitialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (isFirstInitialized == false)
        {
            isFirstInitialized = true;

            await Task.Delay(500);
            FirstInitialize();
        }
    }

    async void FirstInitialize()
    {
        try
        {
            foreach (Character character in CharacterSystem.GetAllCharacters())
            {
                if (character.AutoActivate)
                {
                    try
                    {
                        RenderFragment customIcon = @<Icon Type="@IconType.Outline.Smile" Style="color:#108ee9;"/>;
                        await ChatActivitySystem.Play(character);
                        await NotificationService.Open(new NotificationConfig() {
                            Message = $"{character.Name} 自启成功。",
                            Icon = customIcon
                        });
                    }
                    catch (Exception e)
                    {
                        await NotificationService.Error(new NotificationConfig() {
                            Message = $"{character.Name} 自启失败。",
                            Description = e.ToString()
                        });
                    }
                }
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}